<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Viewer</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="index-body">

<div class="index-container">
    <img src="/images/logo.png" alt="Pokémon Logo">
    <h1>Pokémon Viewer</h1>

    <div class="button-container">
        <a href="/pokemon/viewAllPokemons">
            <button class="main-button">Ver Todos los Pokémon</button>
        </a>
        <a href="/pokemon/searchFor">
            <button class="main-button">Buscar por Nombre o ID</button>
        </a>
    </div>

</div>
<footer>
    <p>&copy; Billy Moreno 2025 Pokémon Viewer. Todos los derechos reservados. </p>
</footer>

</body>
</html>
